
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using MVC_Uygulama.Models

<h2>UyeEkleme Sayfası</h2>

<form action="/Uye/UyeEkle" method="post">
    <table class="form-group">
        <tr>
            <td>Kullanıcı Adı</td>
            <td><input  class="form-control" type="text" name="kullaniciadi" value="" /></td>
        </tr>
        <tr>
            <td>Şifre</td>
            <td><input class="form-control" type="password" name="sifre" value="" /></td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><input class="form-control" type="email" name="email" value="" /></td>
        </tr>
        <tr>
            <td>Güvenlik Sorusu</td>
            <td><input class="form-control" type="text" name="gsoru" value=""/></td>
        </tr>
        <tr>
            <td>Güvenlik Cevabı</td>
            <td><input class="form-control" type="text" name="gcevap" value="" /></td>
        </tr>
        <tr>
            <td>@ViewBag.mesaj</td>
            
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-success" type="submit" name="name" value="Kaydet" /></td>
        </tr>
    </table>
</form>